<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-start>
      <ion-col *ngFor="let article of articles | async" col-12 col-md-6 col-lg-4 col-xl-3>
        <ion-card>
          <ion-card-header>
            <h2>{{ article.title }}</h2>
          </ion-card-header>

          <img [src]="article.urlToImage" height="190" />

          <ion-card-content>
            <p>
              {{ article.description | slice:0:150 }}...
            </p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small (click)="bookmarkArticle(article)">
                <ion-icon name="bookmark" [class.bookmarked]="article.bookmarked[userId]"></ion-icon>
                <span *ngIf="article.bookmarked[userId]">Bookmarked</span>
                <span *ngIf="!article.bookmarked[userId]">Bookmark it!</span>
              </button>
            </ion-col>

            <ion-col>
              <button ion-button icon-left clear small (click)="articleDetail(article.id)">
                <ion-icon name="arrow-forward"></ion-icon>
                <span>View more...</span>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>